<div class="container main-container ">
  <h1>Detalhes do produto</h1>
   <h3>{{produto.nome}}</h3> 
   <h3>{{ produto.valor | currency:'BRL':true:'1.2-2':'pt'  }}</h3> 
   <a [routerLink]="['/produtos']"
        class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left"
          aria-hidden="true"></span> Voltar
      </a>  
</div>
   