<div class="container main-container ">

    <h3>Interpolation</h3>
    <p> o numero de clique é : {{contadorClique}}</p>
    <br>
    <br>

    <h3> Property Binding</h3>

    <button class="btn btn-info btn-sm" [disabled]="contadorClique >= 10">Botão</button>
    <br>
    <br>

    <h3> Property Binding</h3>

    <button class="btn btn-warning btn-sm" (click)='adicionaClique()' >Clique-me</button>

    <br>
    <br>
   
    <h3>TWO-WAY binding2</h3>
    <input type="text" [(ngModel)]="nome"  >
    <br><br>
    <label class="{{ nome }}">Seu Nome é  {{ nome }}</label>
</div>