<header class="bg-primary py-5 mb-5">
    <div class="container h-100">
       <div class="row h-100 align-items-center">
        <div class="col-lg-2">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg"/>
        </div>
        <div class="col-lg-10">
            <h1 class="display-4 text-white mt-5 mb-2">Desenvolvimento SPA com Angular</h1>
        </div>
       </div>
    </div>  
    </header>