<div class="container main-container ">
  
<div class="row text-center">
   <div *ngFor="let produto of produtos" class="col-md-4" style="padding-bottom: 30px;">
      <div class="card h-100">
         <a class="text-decoration-none" [routerLink]="['/produto-detalhe',produto.id]">
            <div style="align-content: center;">
               <img src="/assets/product.jpg" height="164px" width="253px" alt="">
            </div>
         </a>
         <h5 class="card-title">{{ produto.nome | titlecase}}</h5>            
      
         <div [ngSwitch]="produto.promocao">
            <p *ngSwitchCase="true" style="color: darkred;">Promoção!</p>
            <p *ngSwitchCase="false" style="color: dodgerblue;">Por Apenas!</p>
         </div>
         
         <div *ngIf="produto.promocao" class="card-body">  
            <div> <h4 class="card-text"> De :      
            <small><del>{{ produto.valor | currency:'BRL':true:'1.2-2':'pt' }}</del></small>
                   Por: {{ produto.valorPromo | currency:'BRL':true:'1.2-2':'pt'}}
            </h4></div>
         </div>

         <div *ngIf="!produto.promocao" class="card-body">          
            <div><h4>{{ produto.valor | currency:'BRL':true:'1.2-2':'pt' }}</h4></div>           
         </div>
         <a [routerLink]="['/produto-carrinho',produto.id]" class="btn btn-info btn-sm">
            <span class="fa fa-shopping-cart"></span> Comprar
         </a>
         <a [routerLink]="['/form-produto',produto.id]" class="btn btn-warning btn-sm">
            <span class="fa fa-edit"></span> Editar
         </a>
         <a [routerLink]="['/cadastrar-produto']" class="btn btn-primary btn-sm">
            <span class="fa fa-edit"></span> Cadastrar
         </a>
      </div>
   </div>
   
</div>
   
  </div>
