<div class="container main-container ">
<h1>Editar Produto</h1>

<div class="well">
  <form #formProduto="ngForm">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="produto.nome" required>
      <label for="valor">Valor:</label>
      <input type="text" class="form-control" id="valor" name="valor" [(ngModel)]="produto.valor" required>
      <label for="valorPromo">Valor promocional:</label>
      <input type="text" class="form-control" id="valorPromo" name="valorPromo" [(ngModel)]="produto.valorPromo" required>
    </div>
      
    <div class="form-group text-center">
      <input
        type="submit"
        class="btn btn-success"
        (click)="atualizar()"
        value="Atualizar"
        [disabled]="!formProduto.form.valid">
      <a [routerLink]="['/produtos']"
        class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left"
          aria-hidden="true"></span> Voltar
      </a>
    </div>
  </form>
</div>
</div>